<html>
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
</head>
<body>
    <h1>用户登录界面</h1>
    <form action="login_from_mysql" method="post">
        <p>用户名:<input type="text" name="username"></p>
        <p>密&nbsp;&nbsp;&nbsp;码:<input type="text" name="passwd"></p>
        <p>记住密码(七天免登陆):<input type="checkbox" name="issaved"></p>
        <input type="submit" value="登录">
    </form>
    {% for msg in get_flashed_messages() %}
        {{ msg }}
    {% endfor %}
<a href="/">返回首页</a>
</body>
</html>